{% extends 'base.j2' %}
{% block title %} Log In {% endblock %}
{% block header %} Log In {% endblock %}
{% block content %}

  <div></div>

  {% with inputs = login_form.html_inputs, labels = login_form.html_labels, submit = login_form.html_submit %}
    <table>
      {% for i in range(inputs|length) %}
        <tr>
          <td> <p> {{ labels[i] }} </td>
          <td> {{ inputs[i] }} </td>
        </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td> {{ submit }} </td>
      </tr>
    </table>
  {% endwith %}

  {{ login_form.html_form }}

  <h5> <a href="{{ url_for('auth.register') }}"> Don't have an account? </a> </h5>

{% endblock %}
