{% extends 'base.j2' %}
{% block title %} Register {% endblock %}
{% block header %} Register a new user {% endblock %}
{% block content %}
  {% with inputs = register_form.html_inputs, labels = register_form.html_labels, submit = register_form.html_submit %}

  <form method="POST" action="{{ url_for('auth.register') }}">
    <table>
      {% if user.is_admin %}
        <tr>
          <td> <label for=user-type> User type </label> </td>
          <td>
              <select name=user-type>
                <option name="{{ UserType.CUSTOMER.value }}" value="{{ UserType.CUSTOMER.value }}"> Customer </option>
                <option name="{{ UserType.CASHIER.value }}" value="{{ UserType.CASHIER.value }}"> Cashier </option>
                <option name="{{ UserType.ADMIN.value }}" value="{{ UserType.ADMIN.value }}"> Administrator </option>
              </select>
            </div>
          </td>
        </tr>
      {% else %}
          <input name=user-type value={{ UserType.CUSTOMER.value }} type=hidden>
      {% endif %}
      <tr>
        <td> <label for=email> Email </label> </td>
        <td> <input name=email type=email /> </td>
      </tr>
      <tr>
        <td> <label for=username> Username </label> </td>
        <td> <input name=username type=text></input> </td>
      </tr>
      <tr>
        <td> <label for=password> Password </label> </td>
        <td> <input name=password type="password"/> </td>
      </tr>
      <tr>
        <td> <label for=repeat-password> Repeat password </label> </td>
        <td> <input name=repeat-password type="password"/> </td>
      </tr>
      <tr>
        <td></td>
        <td> <input type=submit value="Register"/> </td>
      </tr>
    </table>
  </form>

  <h5>
  <a href="{{ url_for('auth.login') }}"> Already have an account? </a>
  </h5>
  {% endwith %}
{% endblock %}
