{% extends 'base.j2' %}
{% block title %} Index {% endblock %}
{% block content %}
  <h1> Welcome to BWell! </h1>
    <p><h3> Here is what you can do on this site </h3>
    <ul>

        <li> <a href={{ url_for('auth.register') }}> Register </a> <br> </li>
        <li> <a href={{ url_for('auth.login') }}> Log In </a> </li>
        <li> <a href={{ url_for('pharmacy.read') }}> Inspect pharmacy items </a> </li>
        <li> <a href={{ url_for('account.read') }}> Inspect your account </a> </li>
        <li> <a href="{{ url_for('account.accounts') }}"> Inspect other users accounts </a> </li>

        {% if user and user.is_admin  %}
            {# display admin-only features here #}
        {% endif %}
  </ul>
{% endblock %}
