{% extends 'base_cart_layout.j2' %}

{% block title %} Admin's cart {% endblock %}
{% block header %} Your admin's cart {% endblock %}

{% block change_amount_form_action %}
  {{ url_for('cart.admin_cart_change_item_amount') }}
{% endblock %}

{% block order_cart_form_action %}
    {{ url_for('cart.order_admin_cart') }}
{% endblock %}
