{% extends 'base_cart_layout.j2' %}

{% block title %} Customer's cart {% endblock %}
{% block header %} Your customer's cart {% endblock %}

{% block change_amount_form %}
  {{ url_for('cart.customer_cart_change_amount') }}
{% endblock %}
