{% extends 'base.j2' %}
{% block title %} Manufacturers {% endblock %}
{% block content %}

  <h1> Manufacturers </h1>

  <form method=POST action={{ url_for('manufacturers.create') }}>
    <h3> Add manufacturer </h3>
    <table>
      <tr>
        <th> Country </th>
        <th> Company </th>
        <th>  </th>
      </tr>
      <tr>
        <td>
            <input name=country-name type=text list=countries-list autocomplete=off>
        </td>
        <td> <input name=company-name type=text autocomplete=off> </td>
        <td> <input type=submit value=Add> </td>
      </tr>
    </table>
    <datalist id="countries-list">
      {% for country in countries %}
        <option value={{ country.name|capitalize }} />
      {% endfor %}
    </datalist>
  </form>
  {% if manufacturers|length > 0 %}
    <h3> Existing manufacutrers </h3>
    <table>
      <tr>
        <th> <p> ID </th>
        <th> <p> Country </th>
        <th> <p> Name </th>
        <th> </th>
      </tr>
      {% for manufacturer in manufacturers %}
        <tr>
          <td> <p> {{ manufacturer.manufacturer_id }} </td>
          <td> <p> {{ manufacturer.country.name|capitalize }} </td>
          <td> <p> {{ manufacturer.name }} </td>
          <td>
            <form method=POST action={{ url_for('manufacturers.delete', manufacturer_id=manufacturer.manufacturer_id) }}>
              <input value=Delete type=submit >
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h3> There are no manufacturers currently. </h3>
  {% endif %}

{% endblock %}
