{% extends 'base.j2' %}
{% block title %} Accounts {% endblock %}
{% block content %}
  <h1> Users </h1>
  {% if users|length > 0 %}
    <h3> Existing users </h3>
    <table>
      <tr>
        <th> <p> ID </th>
        <th> <p> Type </th>
        <th> <p> Name </th>
        <th> <p> E-Mail </th>
        <th> <p> Password hash </th>
        <th> </th>
      </tr>
        {% for user_ in users %}
          <tr>
            <td> <p> {{ user_.user_id }} </td>
            <td> <p> {{ user_.type }} </td>
            <td> <p> {{ user_.name }} </td>
            <td> <p> {{ user_.email }} </td>
            <td> <input type=text readonly value={{ user_.pw_hash }}> </td>
            <td>
              {{ delete_form(user_.user_id).html }}
            </td>
          </tr>
        {% endfor %}
    </table>
  {% else %}
    <h3> There are no users currently. </h3>
  {% endif %}
{% endblock %}
